*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body,#root{
    height: 100%;
    width: 100%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 30, 30);
}
body{
    display: flex;
    padding: 2rem;

}
.card-form{
  display: flex;
  background-color: #676666;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.card-form input{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 15rem;
}
.card-form button{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(105, 105, 246);
  color: azure;
  cursor: pointer;
  width: 8rem;
}
.card-form button:active{
  transform: scale(0.95);
}


.main{
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #85c5ca;
  border-radius: 1rem;
  flex-wrap: wrap;

}

.top{
  width: 15rem;
}
.top img{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
   padding: 0.5rem;
  
}

.middle{
 padding: 0.5rem;
}

.middle h1{
    color: rgb(30, 30, 30);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
}
.middle p{
    color: rgb(30, 30, 30);
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.8;
}

.bottom{
  width: 100%; 
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.bottom button{
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    
}

.bottom button:active{
    transform: scale(0.95);

}
button:nth-child(1){
    background-color: rgb(59, 121, 28);
}
button:nth-child(2){
    background-color: rgb(199, 5, 5);
}