main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    height: fit-content;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    form{
display: flex;
flex-direction: column;
gap: 1rem;
    }
    input,button{
        border: none;
        outline: none;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 1rem;
    }
    button{
        background-color: #0236c4;
        color: whitesmoke;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #022ebf;
        }
    }
    .toggleAuthForm{
        color: #028ac4;
        text-decoration: none;
        cursor: pointer;
        padding-left: 0.5rem;
    }
    
    button:active{
        transform: scale(0.95);
    }
     

}